<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  }
  </style>
</head>
<body>
    <table style="background-color:#00FF00">
      <tr>
	     <th colspan="9">Execution Report</th>
	  </tr
      <thead>
        <tr>
          <th>Module Name</th>
          <th>Total Cases</th>
		  <th>Passed</th>
          <th>Skipped</th>
          <th>Failed</th>
          <th>Browser</th>
          <th>Start Time(hh:mm:ss)</th>
          <th>End Time(hh:mm:ss)</th>
          <th>Execute Time(hh:mm:ss)</th>
         </tr>
		 $Test_Case_Summary$
       </thead> 
       
    </table>
  </body>
  </html>